<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <script src="/jquery/jquery.js"></script>
</head>

<body>
    <%- include('../components/header.ejs'); %>
        <div class="container">
            <form action="/control" method="post">
                <div class="row pt-5">
                    <div class="col">
                        <label for="sel_device_select" class="form-label">設備選擇</label>
                        <select name="sel_device" id="sel_device" class="form-select" aria-label="sel_device_select">
                            <option value="" selected disabled>設備選擇</option>
                            <% for(var i=0; i< device_list.length; i++){ %>
                                <option value="<%- device_list[i] %>">
                                    <%- device_list[i] %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="col">
                        <label for="sel_setfile_select" class="form-label">參數選擇</label>
                        <select name="sel_setfile" id="sel_setfile" class="form-select" aria-label="sel_setfile_select">
                            <option value="" selected disabled>參數選擇</option>
                            <% for(var i=0; i< setfile_list.length; i++){ %>
                                <option value="<%- setfile_list[i] %>">
                                    <%- setfile_list[i] %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                </div>
                <hr class="hr" />
                <label class="form-label">目前參數：</label>
                <% for(var key in show_data){ %>
                    <div>
                        <label class="form-label"><%- key %></label>
                        <input type="text" id="<%- key %>" name="<%- key %>" value="<%= show_data[key] %>" readonly
                            unselectable="on" class="form-control" />
                        </p>
                        <% } %>
                            <div>
                                <label class="form-label">目前設備:</label>
                                <label id="now_device" class="form-label"></label>
                            </div>
                            <button type="submit" value="開始運作" name="send" class="btn btn-primary mb-5">
                                開始運作
                            </button>
            </form>
        </div>
</body>

<script>
    $(document).ready(function () {
        $("input[name=step1_Hight]").after('<hr class="hr" />');
        $("input[name=step2_Hight]").after('<hr class="hr" />');
        $("input[name=step3_Hight]").after('<hr class="hr" />');
    });

    var max_hight = 0;
    $("#sel_device").change(function () {
        if ($(this).val() == "") return;
        $.ajax({
            url: "/get_Device_data",
            method: "post",
            dataType: "json",
            data: { "mac": $(this).val() },
            success: function (res) {
                //console.log(res)
                for (var key in res) {
                    //console.log(key);
                    $("#" + key).val(res[key]);
                }
                max_hight = res["max_hight"];
            },
            error: function (err) { console.log(err) },
        });
    })
    $("#sel_setfile").change(function () {
        if ($(this).val() == "") return;
        $.ajax({
            url: "/get_setfile_data",
            method: "post",
            dataType: "json",
            data: { "name": $(this).val() },
            success: function (res) {
                //console.log(res)
                for (var key in res) {
                    //console.log(key);
                    $("#" + key).val(res[key]);
                }
            },
            error: function (err) { console.log(err) },
        });
    })

    $("#sel_device").change(function () {
        $("#now_device").text($(this).val());
    });

    $("#start_up").click(function () {
        var str = "";
        let data = {};
        let value = $('#control_form').serializeArray();
        $.each(value, function (index, item) {
            data[item.name] = item.value;
        });
        //let json = JSON.stringify(data);
        if (data["sel_device"] == "") str = "請選擇設備";
        else if (parseInt(data["step1_Hight"]) + parseInt(data["step2_Hight"]) + parseInt(data["step3_Hight"]) > max_hight) str = "操作高度超過該設備的高度";
        if (str != "") {
            alert(str);
            return false;
        }
        return true;
    })

</script>

</html>