<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>
        <form method="post" action="/">
            <input  name="send" type="submit" value="設備控制">
            <input  name="send" type="submit" value="參數設定">
            <input  name="send" type="submit" value="手動控制">
        </form>
        <select id="sel_setfile" name="sel">
            <% for(var i=0; i< list.length; i++){ %>
                <option value = "<%- list[i] %>"><%- list[i] %></option>
            <% } %>
        </select>
        
        <form action="/set_up" method="post">
            <% for(var key in indata){ %>
                <p>
                    <label><%- key %></label>
                    <input type="text" id="<%- key %>" name="<%- key %>" value="<%= indata[key] %>">
                </p>
            <% } %>
            
            <p><input type="submit" value="renew" name="btn"></p>
            <p><input type="submit" value="delete" name="btn"></p>
        </form>
        <p><%= result %></p>
    </body>
    <script>
        $("#sel_setfile").change(function(){
            $.ajax({
                url:"/get_setfile_data",
                method:"post",
                dataType:"json",
                data:{"name" : $(this).val()},
                success:function(res){
                    //console.log(res)
                    for(var key in res){
                        //console.log(key);
                        $("#"+key).val(res[key]);
                    }
                },
                error:function(err){console.log(err)},
            });
        })
    </script>
</html>